/*general */
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;}
html {     font-size: 62,5%;
    background-image: url('https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1322292759?b=1&k=20&m=1322292759&s=170667a&w=0&h=FtcK2R11RjeMUkMUWu5kxFmYR8pY-G8OLs99PnWIJpE=');
    background-size:cover;
    background-repeat: no-repeat;}
   
/*header */

header {
display: flexbox;
width: 100%;
max-width: 95%;
height: 20vh;
border-bottom: 10px;
border-bottom-style: double;
}
.div-header{
    width: 100%;
    text-align: center;
    width: 100%;
     }
   .div-header > h1 { font-size: 4.2rem; margin-top: 30px;}
.div-header > h2 {
    width: 100%;
    margin-top: 8px;
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
 }
.buttons {
margin-left: 110px;
display: flexbox;
height: 60px;
width: 100%;
}
.button { 
align-content: center;
    align-items: center;
    width: 20%; height: 90%;
    margin-right: 5px;
    margin-top: 15px;
    height: 60px;
    width: 30%;
    background-color: rgb(36, 35, 35);
    color: white;
    font-weight: lighter;
    border-radius: 16px;
    box-shadow: rgb(219, 139, 189);
    border-color: rgb(219, 139, 189);
    border-width: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}   
/*main */
main {
    max-width: 100%;
    width: 100%;
    display: flexbox;
    flex-direction: row
} 
h2, .career-objetive > h3 {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(167, 128, 167);  
}
.personal-details {text-decoration: none;
    display: inline-block; 
    margin-top: 120px;
    }

    .personal-details > li {
    list-style-type: none;
    }
    .div-img{
 margin-right: 100px;
 margin-top: 0px;
 width: 30%;
 display: inline-block;
    }
.img {
margin-top: 100px;
margin-left: 40px;
height: 400px;
width: auto;
 border-radius: 16px;
 border-style: double;
 border-width: 15px;
 border-color: rgb(226, 72, 175);
  }
  section + h3{font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;}
section {
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2.0rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2.5;
    list-style-type: none;
}
.platzi {
    list-style-type:circle;
}
.languages{
    list-style-type:square;
}
.career-objetive > p {font-size: 1.8rem;}
.career-objetive {
display: inline-block;
border-top: 6px;
border-top-style:groove;
margin-bottom: 40px; 
margin-top: 50px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 2.0rem;
 margin-left:380px;
 text-align: justify;
 display: inline-block;
 text-align: justify;
 text-justify: inter-word;
}
/*footer */
footer  {
display: flexbox;
width: 100%;
max-width: 100%;
min-height: 9vh;
height: 10vh;
border-top: 10px;
border-top-style: double;
align-items: center;
justify-content: center;
}
footer > p {
text-align: right;
margin-right: 60px;
text-justify: auto;
height: 90%;
margin-top: 30px;
font-size: 1.6rem;
font-weight: bold;
}    
    
a:hover{color: blueviolet;} 
a {
    text-decoration: none;
  }